{% extends "base.html" %}
{% block body %}
    <div class="py-5">
        <div class="container">

            <h1>Face recognition</h1>
            <p class="lead">
                Send me a photo with face and I will tell you who you are!
            </p>
            <hr class="my-4">

            <form class="text-center mt-5" method="post" action="{% url 'face_recognition' %}"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <input hidden required accept="image/*" type="file" id="faces" name="faces" multiple>
                <label for="faces" class="btn btn-primary btn-lg">Select photos</label>
            </form>

            <div id="imagePreview" class="row my-5"></div>


            <template id="faceDetectionResult">
                <div class="col-12 col-lg-6">
                    <figure class="figure d-flex align-items-center">
                        <img class="figure-img img-fluid rounded"
                             style=";max-height: 250px;max-width: 250px"
                             alt="" src=""/>
                        <figcaption class="ms-3"></figcaption>
                    </figure>
                </div>
            </template>

        </div>
    </div>

    <script>
        const src = document.getElementById("faces");
        const form = document.getElementsByTagName('form')[0];
        const url = form.getAttribute('action');
        const faceDetectionResultTemplate = document.getElementById('faceDetectionResult');
        const imagePreview = document.getElementById('imagePreview');

        src.addEventListener('change', function ($event) {
            const files = $event.target.files;

            imagePreview.innerHTML = '';

            Array.from(files).forEach(function (file) {

                const clone = faceDetectionResultTemplate.content.cloneNode(true);
                clone.querySelector('.figure-img').src = URL.createObjectURL(file);
                const label = clone.querySelector('figcaption');

                const data = new FormData(form)
                data.delete("faces");
                data.set("face", file);

                label.innerText = "I am thinking...";
                imagePreview.append(clone);
                fetch(url, {method: 'post', body: data,})
                    .then(r => r.text())
                    .then(text => label.innerText = text)
                    .catch(() => label.innerText = `Something bad happend. Sorry 😞`)
            })
        })

    </script>

{% endblock %}